<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>三小时入门Django</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<div class = "container page-header">
    <h1>三小时入门Django
        <small>--by zcx</small>
    </h1>
</div>
<div class = "container page-body">
    <div class = "col-md-9" role="main">
        <div class = "body-main">
            <div >
                <h2>第一篇文章</h2>
                <p>
                    Django的一个强大的功能是它的对象关系映射Object-Relational Mapping（ORM），
                    它允许你就像使用 SQL一样去和你的数据库交互，本课程将以Django官方文档为依据，
                    通过开发讲师、课程、学生、助教四个模型类，给大家完整透彻的讲解Django ORM知识体系，
                    为更高级的开发打下坚实基础。课程源码：https://github.com/liaogx/imooc
                </p>
            </div>
            <div>
                <h2>第二篇文章</h2>
                <p>
                    Django的一个强大的功能是它的对象关系映射Object-Relational Mapping（ORM），
                    它允许你就像使用 SQL一样去和你的数据库交互，本课程将以Django官方文档为依据，
                    通过开发讲师、课程、学生、助教四个模型类，给大家完整透彻的讲解Django ORM知识体系，
                    为更高级的开发打下坚实基础。课程源码：https://github.com/liaogx/imooc
                </p>
            </div>
        </div>
    </div>
    <div class = "col-md-3" role="complementary">
        <div>
            <h2>最新文章</h2>
            <h4><a href = "#" >最新文章1</a></h4>
            <h4><a href = "#" >最新文章2</a></h4>
            <h4><a href = "#" >最新文章3</a></h4>
            <h4><a href = "#" >最新文章4</a></h4>
            <h4><a href = "#" >最新文章5</a></h4>
        </div>
    </div>
</div>
</body>
</html>